name: Run Checks

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - $default-branch

env:
  GIT_COMMIT_HASH: ${{github.sha}}
  AUTH_TOKEN: ${{GITHUB_TOKEN}}

jobs:
  install_dependencies:
    name: Install Dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: 'npm'

      - name: Install dependencies by lockfile
        run: npm clean-install

      - name: Generate Public API
        run: npm run barrel

      - name: Pack prepared workspace to archive
        run: tar --totals --create --file workspace.tar ./

      - name: Share prepared workspace with other jobs
        uses: actions/cache@v3
        with:
          key: workspace
          path: workspace.tar

  static_files:
    name: Build Static Files
    runs-on: ubuntu-latest
    needs: [ install_dependencies ]
    steps:
      - name: Download prepared workspace
        uses: actions/cache@v3
        with:
          key: workspace
          path: workspace.tar
      - name: Restore workspace from archive
        run: tar --totals --extract --file workspace.tar && rm --force workspace.tar
      - name: Build static files
        run: npm run build
      - name: Pack static files to archive
        run: tar --totals --create --file dist.tar ./dist
      - name: Share prepared workspace with other jobs
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist.tar


  run_lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: [ install_dependencies ]
    steps:
      - name: Download prepared workspace
        uses: actions/cache@v3
        with:
          key: workspace
          path: workspace.tar
      - name: Restore workspace from archive
        run: tar --totals --extract --file workspace.tar && rm --force workspace.tar
      - name: Lint sources
        run: npm run lint

  run_spell_check:
    name: Spell Check
    runs-on: ubuntu-latest
    needs: [ install_dependencies ]
    steps:
      - name: Download prepared workspace
        uses: actions/cache@v3
        with:
          key: workspace
          path: workspace.tar
      - name: Restore workspace from archive
        run: tar --totals --extract --file workspace.tar && rm --force workspace.tar
      - name: Check spelling in sources
        run: npm run cspell:check

  run_code_style:
    name: Check Code Style
    runs-on: ubuntu-latest
    needs: [ install_dependencies ]
    steps:
      - name: Download prepared workspace
        uses: actions/cache@v3
        with:
          key: workspace
          path: workspace.tar
      - name: Restore workspace from archive
        run: tar --totals --extract --file workspace.tar && rm --force workspace.tar
      - name: Check codestyle
        run: npm run prettier:check
